extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas in ab quaerat adipisci inventore dolorum consequatur.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur vero rerum ducimus excepturi id consequatur, deserunt quisquam vitae, ex assumenda, in repudiandae quas asperiores necessitatibus? Ullam eius ut necessitatibus asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni facilis nam voluptates, labore iusto libero quaerat nesciunt laudantium accusantium quae provident delectus quod asperiores facere at voluptatibus ipsa temporibus in!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti facere non porro quo molestias ducimus, quibusdam adipisci ut sint alias tempora explicabo voluptates et perspiciatis illum esse natus autem commodi!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolore in illo sit perspiciatis hic ad cumque ratione asperiores totam.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolore in illo sit perspiciatis hic ad cumque ratione asperiores totam.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolore in illo sit perspiciatis hic ad cumque ratione asperiores totam.